#About{
  #ImgColumn{
    max-width: 300px;
    #ImgWrapper{
      .p-2{
        border: ($spacer*.25) $dark solid;
        border-radius: 50%;
        background-image: url(about.jpeg);
        background-size: 150%;
        background-position: center;
      }
    }
  }
}