<template name="nav">
  <div id="Nav" class="d-flex flex-column align-items-center pt-2 ml-3 h-100 position-absolute">
    <div class="navLinks d-flex flex-column align-items-center mx-3">
      <div id="NavLogo" class="display-4 rounded-circle bg-light text-dark text-bold shadow position-relative p-4 d-flex justify-content-center align-items-center mb-4">
        SC
      </div>
      {{#each navLinks}}
        <div class="navLink border-0 pointer w-100 btn shadow my-2 {{#if is path (get 'page.path')}}btn-dark{{else}}btn-light{{/if}}">
          {{text}}
        </div>
      {{/each}}
    </div>
  </div>
</template>